header {
  background-color: $blue;
  background: linear-gradient(rgba(0,190,242,0.65) 0%, rgba(0,190,242,1) 100%);
  color: #fff;
  text-align: center;
  padding: 6rem;

  h1 {
    font-size: 12rem;
    font-weight: 300;
    margin: 0;
    animation: fadeUp 750ms ease-in-out;
  }

  p {
    font-size: 4rem;
    font-weight: 300;
    font-style: italic;
    animation: 750ms ease-in-out 175ms backwards fadeUp;
    margin: 2.4rem;
  }
}

.divi-o > img {
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  top: .54rem;
  left: .125rem;
  animation: spin 10s linear infinite;
}

.badges img {
  width: 15rem;
  margin: 1.2rem;
}
