// Compile

@import 'fonts';
@import 'colors';
@import 'milligram';
@import 'navbar';
@import 'header';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.6em;
  line-height: 1.5;
  position: relative;
  top: 6rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.tutorial {
  height: 48rem;
  background-color: $orange;
  background: linear-gradient(rgba(255,195,14,1) 0%, rgba(247,149,30,1) 100%);
  text-align: center;
  color: #fff;
  padding: 6rem;

  .instructions {
    align-self: center;
  }

  h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
  }

  p {
    font-size: 2.4rem;
    font-weight: 300;
    font-style: italic;
  }

  img {
    height: 42rem;
    margin: 0 auto;
  }

}

.info img {
  width: 80%;
}

.why,
.charities,
.businesses {
  padding: 6rem;

  h2 {
    color: $blue;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }

  p {
    font-weight: 300;
    max-width: 70%;
    margin: 0 auto 2.4rem auto;
    line-height: 2;
    text-align: center;
  }
}

.charities {
  background-color: #f4f4f4;

  img {
    width: 50%;
    animation: spin 10s linear infinite;
    display: block;
    margin: 0 auto;
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
}

.btn {
  background-color: transparent;
  border: 2px solid $blue;
  border-radius: 3px;
  color: $blue;
  display: inline;
  margin: 2rem 0;
  padding: 1.2rem 2.4rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
  transition: all 400ms ease-in-out;

  &:hover {
    color: #fff;
    background-color: $blue;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.btn-wrapper {
  margin: 4.8rem;
  text-align: center;
}

footer {
  background-color: #424242;
  padding: 2.4rem;
  text-align: center;
  color: #fff;

  h3 {
    text-transform: uppercase;
    font-weight: 500;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: .6rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  input[type="email"] {
    background: rgba(255, 255, 255, .8);
    border: none;
    border-radius: 2px;
    padding: 1.6rem;
    font-size: 1.6rem;
    width: 75%;
    outline: none;
  }

  input[type="submit"] {
    background-color: $orange;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    font-size: 1.6rem;
    padding: 1.6rem;
    position: relative;
    left: -5px;
    transition: all 250ms ease-in-out;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      background-color: darken($orange, 5%);
    }
  }
}

.social {

  justify-content: center;

 img {
    height: 50px;
  }

  ul {
    display: inline-flex;

    li {
      margin-right: 2.4rem;
      transition: all 250ms ease-in-out;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}

.slick-dots {
  padding-left: 0;
  position: relative;
  top: -6rem;

  li {
    display: inline;
  }
}

.slick-dots button {
  background: rgba(0, 0, 0, .1);
  border: none;
  border-radius: 50%;
  margin: 0 .8rem;
  color: transparent;
  cursor: pointer;
  outline: none;
}

.slick-active button {
  background: rgba(0, 0, 0, .3);
}

.slick-slide {
  outline: none;
}
